<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/restaurants/edit/<%=data[0].restaurantId%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td> <input type="text" name="restaurantName" value="<%=data[0].restaurantName%>" required></td>
                 </tr>
                
                <tr>
                    <td class="label">Address</td><td> <input type="text" value="<%=data[0].restaurantAddress%>" name="restaurantAddress" required></td>
                 </tr>
		<tr>
                    <td class="label">Phone number</td><td> <input type="text" name="restaurantPhoneNumber" value="<%=data[0].restaurantPhoneNumber%>" required></td>
                 </tr>
                
                 
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
