<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addRestaurant();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Restaurant name</th>
		    <th>Restaurant address</th>	
		    <th>Restaurant phone number</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].restaurantName%></td>
		    <td><%=data[i].restaurantAddress%></td>
		    <td><%=data[i].restaurantPhoneNumber%></td>
                    <td>
                        <a class="a-inside edit" href="../restaurants/edit/<%=data[i].restaurantId%>">Edit</a>
                       
                        <a class="a-inside delete" href="../restaurants/delete/<%=data[i].restaurantId%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
